{% extends 'base.html' %}

{% block body %}
<br>
<div class="container">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{details.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{details.pub_date}}</h6>
    <p class="card-text">{{details.body}}</p>
    <a href="{% url 'home'%}" class="card-link">home으로 돌아가기</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>
<br>

<div class="container">
<form action="{% url 'comment_add' details.id %}" method="POST">
  {% csrf_token %}
  내용 : 
  <input type="text" name="body">
  <input type="submit" value="제출">
</form>

{% for comment in details.comments.all %}
  {{comment.user.username}} : {{comment.body}}
  <a href="{% url 'comment_edit' comment.id %}">편집</a>
  
  <br>
{% endfor %}
</div>

{% endblock %}